*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body{
    margin: 0rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

nav{
    position: absolute;
    margin: 2rem;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    
}

nav span{
    font-size: 1.8rem;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

nav li{
    list-style-type: none;
    color: #fff;
}

nav a{
    color: #fff;
    text-decoration: none;
}

nav a:hover{
    /* color: #fff; */
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
    padding: 0 1rem ;
}

.grid1{
    background-color: rgb(7, 1, 34);
    padding: 6rem 2rem 0 2rem;
    align-content: center;
    overflow: hidden;

}

.name{
    line-height: 0.9;
    /* padding: 3rem; */
}
.grid1 h1{
    font-size: 6rem;
    margin-bottom: 0;
}
.grid1 h2{
   font-size: 9.1rem;
   margin-bottom: 4rem;
}
.grid1 span{
   font-size: 1.7rem;   
}

.grid1 p{
    font-size: 1.5rem;   
    margin-top: 1.2rem;
}
.grid2{
    background-color: rgb(48, 8, 224);
    
}

.grid2 img{
    position: absolute;
    bottom: 0;
    left: 65%;
    height: 90vh;
    overflow: hidden;
}

.hire{
    position:absolute;
    background-color: #fff;
    padding: 1.3rem;
    border-radius: 100%;
    top: 40%;
    left: 46vw;
    font-size: 1.4rem;
    color: rgb(7, 1, 34);
    transform: rotate(-45deg);
    margin-top: 3rem;
}


footer{
    background-color: #201f1f;
    justify-items: center;
    padding: 3rem 3rem 0 3rem;
    color: #fff;
    overflow: hidden;
}

footer .media ul{
    display: flex;
    color: #fff;
    justify-content: space-between;
    gap: 170px;
    font-size: 2.9rem;
    
}
footer .media ul li{
    list-style: none;
    justify-content: space-around;
    gap: 50px;
}

footer .media ul li:hover{
    transform: scale(1.5);
}
footer ul li a{
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}

.navLinks{
    display: flex;
}

footer .navLinks ul{
    display: flex;
    color: #fff;
    justify-content: space-between;
    font-size: 1rem;
    gap: 220px;
}

footer .navLinks a{
    font-size: 1.5rem;
}

footer .navLinks ul li{
    list-style: none;
    justify-content: space-around;
    padding: 3rem;
}

.copyRight{
    background-color: rgb(7, 1, 34);
    width: 100vw;
    padding: 1rem;
    justify-items: center;
}

.copyRight p{
    font-size: 1rem;
    letter-spacing: 0.6rem;
    padding: 1rem;
}

/*NAVBAR SECTION*/
.navbar{
    position: absolute;
    background-color: black;
    width: 100%;
    min-height: 100vh;
    z-index: 2;
    justify-items: center;
    gap: 55px;
    overflow: hidden;
    padding-top: 4rem;
    display: none;
}

#menuBar{
    display: none;
    font-size: 1rem;
    cursor: pointer;
}

#exitBar{
    display: flex;
    justify-self: left;
    margin: 0 0 3rem 2rem;
    font-size: 1.9rem;
    cursor: pointer;
}

.navbar ul{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 0;
    gap: 65px;
}
.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    font-size: x-large;
    color: #fff;
}
.navbar ul li a:hover{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 7px;
    color: #fff;
}

.navbar .navbarMedia ul{
    padding-top: 10rem;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    gap: 45px;
}

.navbar .navbarMedia a:hover{
    font-size: 2.5rem;
}



@media (max-width:1275px){
    .grid1 h1{
        font-size: 4rem;
    }
    .grid1 h2{
       font-size: 6.1rem;
    }
    .grid1 span{
       font-size: 1.4rem;   
    }
    
    .grid1 p{
        font-size: 1rem;   
    }

    .grid2 img{
        left: 57%;
        height: 90vh;
    }

    .hire{
        font-size: 0.7rem;
    }
}


@media (max-width:1000px){
    footer .media ul{
        gap: 145px;
    }
    
    footer .navLinks ul{
        gap: 135px;
    }
    .grid1 h1{
        font-size: 3rem;
    }
    .grid1 h2{
       font-size: 4.6rem;
    }
    .grid1 span{
       font-size: 1rem;   
    }
    
    .grid1 p{
        font-size: 1rem;   
    }

    .grid2 img{
        left: 52%;
        height: 90vh;
    }

}
@media (max-width:765px){
   #body{
    display: flex;
    flex-direction: column;
   }

   nav a{
    font-size: 1rem;
    }

    nav ul{
        gap: 9px
    }

   .grid2 img{
    display: flex;
    left: 10%;
    margin-top: 6rem;
    order: 1;
    position: relative;
   }

   .grid1{
    order: 2;
   }

   .hire{
    top: 40%;
    left: 10vw;
    font-size: 1rem;
    z-index: 1;
  }

  .grid1 h1{
    font-size: 5rem;
}
.grid1 h2{
   font-size: 7.6rem;
}
.grid1 span{
   font-size: 1.5rem;   
}

.grid1 p{
    font-size: 1.3rem;   
    margin-bottom: 3rem;
}

footer .navLinks ul li{
    padding: 3rem 1rem;
}

footer .media ul{
    gap: 75px;
}

footer .navLinks ul{
    gap: 65px;
}

.copyRight p{
    font-size: 1rem;
    letter-spacing: 0.2rem;
}
footer .navLinks a{
    font-size: 1.5rem;
}
}

@media (max-width:500px){
    nav span{
        font-size: 1.5rem;
    }

    footer .media ul{
        gap: 35px;
    }
    
    footer .navLinks ul{
        gap: 65px;
    }
    
    .copyRight p{
        font-size: 0.7rem;
        letter-spacing: 0.2rem;
    }
    footer .navLinks a{
        font-size: 1rem;
    }
    nav ul{
        display: none;
    }

    #menuBar{
        display:inline;
    }

    .grid2 img{
        display: flex;
        height: auto;
        left: 5%;
    }

    .hire{
        top: 40%;
        left: 5vw;
        font-size: 0.5rem;
    }

    .grid1 h1{
        font-size: 3rem;
    }
    .grid1 h2{
       font-size: 4.5rem;
    }
    .grid1 span{
       font-size: 1rem;   
    }
    
    .grid1 p{
        font-size: 1rem;   
        margin-bottom: 3rem;
    }

    footer .navLinks ul li{
        padding: 3rem 0.1rem;
        font-size: 0.7rem;
    }
    
    footer p{
        font-size: 0.7rem;
    }
}
@media (max-width:320px){
     nav span{
        font-size: 0.9rem;
    }

    footer .media ul{
        gap: 20px;
        font-size: 2rem;
    }
    
    footer .navLinks ul{
        gap: 30px;
    }
    footer .navLinks li a{
        font-size: 0.6rem;
    }
    
    .copyRight p{
        font-size: 0.8rem;
        text-align: center;
    }

    footer .navLinks a{
        font-size: 1rem;
    }
    
    .grid1 h1{
        font-size: 2.5rem;
    }
    .grid1 h2{
       font-size: 3.8rem;
    }
}
